<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/menu.css') }}">
    <title>Document</title>
</head>
<body>


            <!--menuuuu-->
            <div id="menu">

                <ul>

                    <li id = "item"> <a href="/Panaderia/PuntoV/PuntoV_6.php"> Punto V</a></li>

                    <li id = "item"> <a href="#"> Inventario </a>
                        <ul id = "desple">
                            <li>
                                    <a href="Mod_usuarios.html">Nuevo producto</a>
                                    <a href="#">Baja producto</a>
                            </li>
                        </ul>
                    </li>


                    <li id = "item"> <a href="#">Graficas</a>
                        <ul id = "desple">
                            <li>
                                    <a href="tabla_usuarios.php">Usuarios</a>
                                    <a href="#">Unidades</a>
                            </li>
                        </ul>
                    </li>


                    <li id = "item"> <a href="#"> Reportes</a></li>


                </ul>
        
            </div>
            <!--fin menuuuuuuuuuuuu-->

            
    
</body>
</html>